---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import CodeIcon from "../components/icons/Code.astro";
---

<Layout>
    <Hero />
    <section>
        <h1
            class="flex items-center justify-center md:justify-start mb-6 text-3xl font-semibold gap-x-3 text-white"
        >
            <CodeIcon class="size-8" />
            Proyectos
        </h1>
        
    </section>
</Layout>
