<header class="flex justify-center py-5 w[1120px] mx-auto">
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/astroCV">Inicio</a>
        <a href="/astroCV/experience">Experiencia</a>
        <a href="/astroCV/projects">Proyectos</a>
        <a href="/astroCV/about">Sobre mí</a>
        <!--TODO: Cambio de idioma  -->
    </nav>
</header>
