---
const navItems = [
  {
    title: "Experiencia",
    label: "experiencia",
    url: "/astroCV",
  },
  {
    title: "Proyectos",
    label: "proyectos",
    url: "/astroCV/projects",
  },
  {
    title: "Sobre mí",
    label: "sobre-mi",
    url: "/astroCV/about",
  }
]
---

<header class="fixed top-0 z-10 flex items-center justify-center my-5 w-full mx-auto">
    <nav class="flex flex-row gap-x-10 opacity-80 text-2xl p-3 rounded-xl">
        {
            navItems.map((link) => (
            <span>
                <a
                class="hover:underline text-yellow-200 font-semibold underline-offset-8 aux"
                aria-label={link.label}
                href={link.url}
                >
                {link.title}
                </a>
            </span>
            ))
          }
        
        <!--TODO: Cambio de idioma  -->
    </nav>
</header>

<style>
   nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur bg-gray-800/90  ring-white/10;
    }
  }
</style>