<header
    class="flex justify-center my-5 p-5 bg-azulCanarias rounded-xl w[1120px] mx-auto"
>
    <nav class="flex flex-row gap-x-10 opacity-80 text-xl">
        <a
            href="/astroCV"
            class="hover:underline hover:text-yellow-200 font-semibold underline-offset-8"
            >Experiencia</a
        >
        <a
            href="/astroCV/projects"
            class="hover:underline hover:text-yellow-200 font-semibold underline-offset-8"
            >Proyectos</a
        >
        <a
            href="/astroCV/about"
            class="hover:underline hover:text-yellow-200 font-semibold underline-offset-8"
            >Sobre mí</a
        >
        <!--TODO: Cambio de idioma  -->
    </nav>
</header>

<style>
    /* TODO: Fondo texto de mar en el Header */
    /* .bg-azulCanarias {
        background: linear-gradient(90deg, #4dc0b5, #3490dc);
        background-size: 200% auto;
        animation: wave-animation 2s infinite;
    }

    @keyframes wave-animation {
        0% {
            background-position: 0 0;
        }
        50% {
            background-position: 100% 0;
        }
        100% {
            background-position: 0 0;
        }
    } */
</style>
