---
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import MailIcon from "../components/icons/Mail.astro";
import GithubIcon from "../components/icons/GitHub.astro";
---

<section>
    <div class="flex flex-row items-center gap-x-5 mb-4">
        <img
            class="inline-block rounded-full size-16"
            src="/astroCV/CV_perfil.webp"
            alt="Foto del Currículum"
        />
        <Badge>Abierto a nuevas oportunidades</Badge>
    </div>

    <h1 class="text-white text-3xl font-bold pb-4">
        🖐️, soy Diego Fernández
        <a
            href="https://www.linkedin.com/in/diego-fdez-1b0009109/"
            target="_blank"
            rel="noopener"
            class="flex items-center transition md:hover:scale-105"
        >
        </a>
    </h1>
    <h2 class="text-2xl text-pretty">
        <span class="text-yellow-200/90">Desarrollador y Programador Web.</span>
        <br />
        <span class="opacity-90 flex md:flex-row flex-col items-center gap-x-2"
            >De Las Palmas de Gran Canaria, Canarias.
            <img
                class="inline-block size-6"
                src="/astroCV/bandera_canarias.webp"
                alt="Bandera de Canarias"
            /></span
        >
    </h2>

    <nav class="flex flex-wrap gap-4 mt-4 md:mt-8">
        <a
            href="mailto:judifede217@gmail.com"
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center justify-center gap-2 px-4 py-1 transition border rounded-full hover:text-gray-800 hover:bg-gray-100 hover:border-gray-700 text-white bg-gray-800 border-gray-600 text-lg"
        >
            <MailIcon class="size-5" />
            Contáctame
        </a>
        <a
            href="https://www.linkedin.com/in/diego-fdez-1b0009109/"
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center justify-center gap-2 px-4 py-1 transition border rounded-full hover:text-gray-800 hover:bg-gray-100 hover:border-gray-700 text-white bg-gray-800 border-gray-600 text-lg"
        >
            <LinkedInIcon class="size-5" />
            LinkedIn
        </a>
        <a
            href="https://github.com/judifede"
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center justify-center gap-2 px-4 py-1 transition border rounded-full hover:text-gray-800 hover:bg-gray-100 hover:border-gray-700 text-white bg-gray-800 border-gray-600 text-lg"
        >
            <GithubIcon class="size-5" />
            Github
        </a>
    </nav>
</section>
