---
import '@fontsource-variable/onest';
import Header from '../components/Header.astro';
import { ViewTransitions } from 'astro:transitions';
import Hero from '../components/Hero.astro';
---

<!doctype html>
<html lang="es" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/astroCV/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />
		<title>Porfolio de Juan Diego Fernández Déniz - Desarrollador y Programador Web</title>
	</head>
	<body>
		<Header/>
		<main class="container w-full mx-auto py-20 flex flex-col gap-y-20 items-center justify-center px-4 lg:max-w-4xl md:max-w-2xl md:items-start">
			<div class="relative h-full w-full bg-slate-950"><div class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_500px_at_50%_200px,#3e3e3e,transparent)]"></div></div>
			<Hero />
			<slot />
		</main>
	</body>
</html>
<style is:global>
	:root {
		color-scheme: dark;
	}

	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		min-width: 550px;
	}

	body {
		color: rgba(255, 255, 255, 0.9);
		display: flex;
		flex-direction: column;
		height: 100vh;
	}
	
</style>
